.venv/
__pycache__/
*.pyc
.git/
.pytest_cache/
.claude
CLAUDE.md
TP_S3.pdf
.DS_Store
src/fastapi_ml_app.egg-info
tests/__pycache__
src/app/__pycache__
src/app/core/__pycache__
src/app/routers/__pycache__
src/app/services/__pycache__
.gitignore
